.filter-tab { 
    animation-name: open;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}

  @keyframes open {
    from {
        width: 0%;  
    }
    to {
        width: 99.5%;
    }
  }

.input >  .ant-input-number-input {
    position: relative !important;
    top: 10% !important;
}

.collection-filter-button:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 5px #ffffff;
    background-color: rgb(255, 255, 255, 0.2) !important;
}

.ant-empty-description {
    color: #00FFA3 !important;
  }