.ant-drawer-body {
    background-color: #000000;
}

.ant-drawer-header {
    background-color: #000000 !important;
    border-bottom: 1px solid rgb(0, 255, 163) !important
}

.ant-drawer-title {
    color: #ffffff !important
}

.ant-drawer-close {
    color: #ffffff !important
}