.App {
  text-align: center;
  background-image: url('./assets/img/background.jpeg');
  background-repeat: repeat-y;
  background-size: cover;
  min-height: 1000vh;
  height: auto;
  overflow: hidden;
}


